@import "tailwindcss";


.botones-amigos{
    @apply grayscale-50 w-10 h-10 hover:grayscale-0 transition-all rounded-full
}


.banner {
    background: url(/images/banner.png);
    background-size: cover;
    margin-bottom: 50px;
}

.textotitulo {
    margin-bottom: 10%;
}

.overlaybanner {
    background: url(/images/overlaybanner.png);
    background-size: cover;
    background-position: bottom;
}

.personal-datos {
    border-bottom: inset 0.2px black;
    margin-top: 5px;
    padding: 0 50px 0 10px;

}
.personal-datos2 {
    border-bottom: inset 0.2px black;
    width: 100%;
    margin-top: 5px;
    padding: 0 0 0 10px;
    font-style: italic;
}
.noborder {
    border: 0!important;
}

.musica-banner {
    background: url(/images/music-banner.png);
    background-size: cover;
    background-position: top;
}

.font-Quicksand {
    font-family: Quicksand;
}

.w-cw {
    width: 100%;
}
.h-ch {
    height: 100%;
}